###############################################################################
#
# fileSystem.ruleSet --
#
# Extensible Adaptable Generalized Logic Engine (Eagle)
# Eagle RuleSet File
#
# Copyright (c) 2007-2012 by Joe Mistachkin.  All rights reserved.
#
# See the file "license.terms" for information on usage and redistribution of
# this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# RCS: @(#) $Id: $
#
###############################################################################
# NOTE: This ruleset is designed to allow for the Tcl 8.x and/or Eagle commands
#       that interact with the host file system.  These are all "unsafe".  Some
#       of these commands have sub-commands that are allowed for use in "safe"
#       interpreters by the default core library security policies.
###############################################################################

rule {
  type Include kind Command mode {Include Exact} patterns cd
}

rule {
  type Include kind Command mode {Include Exact} patterns file
}

rule {
  type Include kind Command mode {Include Exact} patterns glob
}

rule {
  type Include kind Command mode {Include Exact} patterns hash
}

rule {
  type Include kind Command mode {Include Exact} patterns load
}

rule {
  type Include kind Command mode {Include Exact} patterns open
}

rule {
  type Include kind Command mode {Include Exact} patterns pwd
}

rule {
  type Include kind Command mode {Include Exact} patterns source
}

rule {
  type Include kind Command mode {Include Exact} patterns unload
}
