###############################################################################
#
# unsafe.ruleSet --
#
# Extensible Adaptable Generalized Logic Engine (Eagle)
# Eagle RuleSet File
#
# Copyright (c) 2007-2012 by Joe Mistachkin.  All rights reserved.
#
# See the file "license.terms" for information on usage and redistribution of
# this file, and for a DISCLAIMER OF ALL WARRANTIES.
#
# RCS: @(#) $Id: $
#
###############################################################################
# NOTE: This ruleset is designed to allow for the Tcl 8.x and/or Eagle commands
#       that are "unsafe".  This ruleset does not include any commands that may
#       contain one or more "safe" sub-commands as those are handled specially,
#       e.g. [clock], [file], [info], [interp], [object], [package], [source],
#       and [uri].
###############################################################################

rule {
  type Include kind Command mode {Include Exact} patterns debug
}

rule {
  type Include kind Command mode {Include Exact} patterns exec
}

rule {
  type Include kind Command mode {Include Exact} patterns host
}

rule {
  type Include kind Command mode {Include Exact} patterns interp
}

rule {
  type Include kind Command mode {Include Exact} patterns library
}

rule {
  type Include kind Command mode {Include Exact} patterns object
}

rule {
  type Include kind Command mode {Include Exact} patterns sql
}

rule {
  type Include kind Command mode {Include Exact} patterns tcl
}

rule {
  type Include kind Command mode {Include Exact} patterns xml
}
